h2
{
color: black;
    font-family: sans-serif;
}
body
{
background-color: navy;
background-repeat: no-repeat;
background-size: cover;
}
h1
{
font-family: cursive;
font-size: 40px;
color: aliceblue;
background-color: black;
}
button
{
font-size: 24px;
}
